<footer>
    <div class="content-block">
        <div class="left-side">
            <div class="copyright">
                © АО "Национальная компания<br>
                «KAZAKH INVEST», 2017
            </div>
            <div class="info-section">
                <div class="info-section_title">Контакты</div>
                <table>
                    <tr>
                        <td>
                            010000, Республика Казахстан,<br>
                            г. Астана, Кунаева 2,<br>
                            Бизнес-центр "ССС", 5-6 этаж<br>
                        </td>
                        <td>
                            Тел: <a href="tel:+7 (7172) 620 500" class="tel">+7 (7172) 620 500</a> (приемная) <br>
                            Факс: <a href="tel:+ 7 (7172) 620 600" class="tel">+ 7 (7172) 620 600</a> <br>
                            <a href="mailto:export.gov.kz@invest.gov.kz" class="mail">export.gov.kz@invest.gov.kz</a>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="right-side">
            <div class="footer-menu">
                <div class="footer-menu_section">
                    <a href="#" class="footer-menu_title">О компании</a>
                    <a href="#" class="footer-menu_title">Пресс-центр</a>
                    <a href="#" class="footer-menu_title">FAQ</a>
                </div>
                <div class="footer-menu_section">
                    <div class="footer-menu_title">Экспортеру</div>
                    <a href="#" class="footer-menu_link">Аналитическое сопровождение</a>
                    <a href="#" class="footer-menu_link">Продвижение на внешние рынки</a>
                    <a href="#" class="footer-menu_link">Возмещение затрат</a>
                    <a href="#" class="footer-menu_link">Обучение</a>
                    <a href="#" class="footer-menu_link">Программа поддержки KazBrands</a>
                    <a href="#" class="footer-menu_link" >Онлайн-экспорт</a>
                </div>
                <div class="footer-menu_section">
                    <div class="footer-menu_title">импортеру</div>
                    <a href="#" class="footer-menu_link">Почему Казахстан ?</a>
                    <a href="#" class="footer-menu_link">Отрасли Казахстана</a>
                    <a href="#" class="footer-menu_link" >Сделано в Казахстане</a>
                </div>
            </div>

            <div class="created-by">
                Cайт разработан —<br>
                <a href="http://mindpro-group.com/#/" target="_blank" title="МАРКЕТИНГОВАЯ КОМПАНИЯ «MINDPRO-GROUP»">mindpro-group.com</a>
            </div>
        </div>
    </div>
</footer>

</div>

<!--add scripts-->
<script src="js/vendor.js"></script>
<script src="js/js.js"></script>


</body>
</html>