<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/vendor.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="icon" type="image/ico" href="favicon.ico"/>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <title>@@title</title>
</head>
<body>

<div id="content">
    <header class="header">
        <div class="nav">
            <div class="content-block">
                <div class="left-side">
                    <a href="#" class="nav_search-link"></a>
                    <div class="nav_sep-line"></div>
                    <div class="lang-block">
                        <div class="lang-block_lang-list">
                            <div class="lang-block_item">EN</div>
                            <div class="lang-block_item">KZ</div>
                        </div>
                        <div class="lang-block_current-lang" onclick="$(this).parents('.lang-block').toggleClass('lang-block--opened')">RU</div>
                    </div>
                </div>
                <div class="center-side">
                    <div class="main-menu">
                        <a href="#" class="main-menu_item">Мероприятия</a>
                        <a href="#" class="main-menu_item">Импортерам</a>
                        <a href="#" class="main-menu_item">Пресс-центр</a>
                        <a href="#" class="main-menu_item">FAQ</a>
                        <a href="#" class="main-menu_item">Контакты</a>
                    </div>
                </div>
                <div class="right-side">
                    <a class="nav_phone" href="tel:+7 (7172) 620-500">+7 (7172) <strong>620-500</strong></a>
                </div>
            </div>
        </div>
        <div class="logo-section">
            <div class="content-block">
                <div class="left-side">
                    <div class="logo-section_logo">
                        Портал для казахстанских экспортеров<br>
                        <strong>export.gov.kz</strong>
                    </div>
                </div>
                <div class="right-side">
                    <a href="#" class="btn btn--transparent">Вход</a>
                    <a href="#" class="btn btn--blue">регистрация</a>
                </div>
            </div>
        </div>
    </header>