h1, h2, h3, ul, ol, p {
  padding: 0;
  margin: 0;
}

* {
  resize: none;
  outline: none;
  box-sizing: border-box;
}

img {
  border: none;
  max-width: 100%
}

p {
  margin: 10px 0
}

table {
  border-collapse: collapse
}

td {
  margin: 0;
  padding: 0
}

.clear {
  clear: both
}


input::-ms-clear {
  display: none;
}


::-webkit-input-placeholder {color:#9ea6ae;}
::-moz-placeholder          {color:#9ea6ae;}
:-moz-placeholder           {color:#9ea6ae;}
:-ms-input-placeholder      {color:#9ea6ae;}


